a:link, a:visited {
    background-color: #ff0088;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #ff0088;
}

head, h1, h2 {
    font-family: Arial, Verdana, sans-serif;
  }
  
body {
      background-image: url("Images\HTML Code Image.PNG");
  }

p {
    font-family: Arial, Verdana, sans-serif;
}
