a:link, a:visited {
    color: white;
    background-color: #efeb00;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-family: "Georgia", Times, serif;
    font-size: 20px;
}
  
a:hover, a:active {
    color: skyblue;
    background-color: white;
    font-size: 20px;
    padding: 15px 25px;
    text-align: center;
    font-family: "Georgia", Times, serif;
}

head, h1{
    font-family: Arial, Verdana, sans-serif;
  }

h2 {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
}
  
.body {
      background-color: navy;
      font-family: "Lucida Console", "Courier New", monospace;
  }

p {
    font-family: Arial, Verdana, sans-serif;
    background-color: whitesmoke;
}
.caption{
    font-family: Arial, Verdana, sans-serif;
    color: whitesmoke
}

.table {
    border: 1px solid;
    width: 50%;
    vertical-align: center;
    padding: 5px
}